spring:
    application:
        name: product-order-service
    datasource:
        driver-class-name: org.postgresql.Driver
        password: sony321
        url: jdbc:postgresql://localhost:5432/product_order_db
        username: postgres
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                format_sql: true
        show-sql: true
